@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caramel&family=Varta:wght@300&display=swap');
/* var(--lightgrey,#9d9898) */

:root {
    --lightgrey: #9d9898;
    --bluepony: #292E5F;
    --darkpony: #262626;
}
h2{
    font-family: Caramel;
    font-size: 2.5em;
}
nav li{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2em;
}
nav li a{
    text-decoration: none;
    color: var(--darkpony);
}
nav li a:hover{
    color: var(--lightgrey);
    cursor: pointer;
}
nav li:after{
    margin: 0px 15px;
    content: "/";
    font-family: Varta;
    
}
nav li:last-child::after{
    content: none;
}
/* hero section */
#hero, #skill{
    background: #f5f5f5;
}
#hero .container{
    max-width: 450px;
    margin: auto;
}
#hero div a{
    min-width: 190px;
}
#hero div a:first-child{
    color: var(--lightgrey);
}
/* portfolio section */
#portfolio div h3{
    color: var(--bluepony);
    font-family: "Bebas Neue";
}
#portfolio div p{
    color: var(--lightgrey);
    max-width: 200px;
    text-align: center;
}
#portfolio div p + span{
    margin-top: 100px;
}
#portfolio div b:first-child{
    margin-bottom: 20px;
}
/* .swiper-pagination{ */
    /* position: absolute; */
    /* background:red; */
    /* transform: rotate(90); */
/* } */


.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    /* background: red; */
    top: 0px;
    bottom: auto !important;
    display: flex;
    flex-direction: column;
    width: auto !important;
    left: 40% !important;
    position: absolute;
}

.swiper-horizontal>.swiper-pagination-bullets span {
    margin-top: 10px !important;
    width: 13px;
    height: 13px;
}

.swiper-button-prev{
    font-family: Caramel;
    font-size: 3.5em;
    top: 80% !important;
    left: 39% !important;
    color: var(--lightgrey) !important;
}
.swiper-pagination-bullet-active{
    background: var(--darkpony) !important;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
    color: var(--darkpony) !important;
    transition: 0.5s !important;
}
.swiper-button-prev:after{
    content: none !important;
}
.swiper-button-next{
    font-family: Caramel;
    font-size: 3.5em;
    top: 88% !important;
    left: 39% !important;
    color: var(--lightgrey) !important;
}
.swiper-button-next:after{
    content: none !important;
}
/* skill section */
#skill .skill-wrapper div{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    
}
.skill-wrapper{
    justify-content: space-around;
    border: 3px  solid black;
    border-bottom: none;
    /* background: red; */
    padding: 70px 0px;
    
}
#skill .row>*{
    padding: 0px !important;
}
.border-l-none{
    border-left: none;
    border-right: none ;
}
.border-r-none{
    border-right: none;
}
#skill h3{
    background: var(--darkpony);
    color: white;
    position: absolute;
    width: 300px;
    text-align: center;
    margin-top: -25px;
    padding: 10px;
    font-family: "Bebas Neue";
    /* top: 0px; */
}
.right-zero{
    right: 0px;
}
.circle{
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: var(--darkpony);
    position: absolute;
    margin-top: -5px;
    margin-left: -5px;
}
.border-none{
    border: none;
}
/* Footer */
footer{
    background: var(--darkpony);
}
footer img{
    filter: invert();
}
@media only screen and (max-width: 991px) {
    .circle{
     display: none !important; 
    }
    .skill-wrapper{
        border: none;
        
    }
    #skill h3{
        position: relative;
        margin: auto;
    }
    .footer-detail{
        display: flex;
        justify-content: center;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        position: relative;
        flex-direction: row !important;
        justify-content: center;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        left: 0px !important;
    }
    .swiper-button-next, .swiper-button-prev{
        bottom: 0px;
        position: relative !important;
    }

    .swiper-button-next{
        left: 90% !important;
        bottom: 10px;
    }
    .swiper-button-prev{
        left: 5% !important;
        bottom: 35px;
    }
  }

  @media only screen and (min-width: 991px) {
    .swiper-slide .p-3{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .detail{
        height: 90%;
    }
  }